* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    display: flex;
    justify-content: start;

}

.row {
    display: flex;
    justify-content: start;
    min-width: 100%;
}

.col-sx {
    
    height: 100vh;
    width: 200px;
    background-color: #000;
}

.col-dx {
    height: 100vh;
    width: calc(100% - 200px );
    background-color: #141922;
}

.menu {
    margin-left: 20px;
    color: #7d7f84;
}

.col-dx-header {
    height: 100px;
    min-width: 100%;
    background-color: black;
}

.col-dx-main {
    display: flex;
    justify-content: center;
    align-items: center;

}

h2 {
    margin-left: 20px;
    color: white;
}

.col-xs-2 .sottotitoli {
    margin-left: 20px;
}


.album img {
    width: 250px;
    height: 250px;   
}

.titles {
    margin-left: 10px;
    color: white;
    align-items: center;
    text-align: center;

}

.sottotitoli {
    font-size: 12px;
    color: #7d7f84;
}

.box-nested {
    width: 100%;
    color: white;

}   
.album
{
    margin:10px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}


footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color:#222222;
    color: white;

}