* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    display: flex;
    justify-content: start;

}

.row {
    display: flex;
    justify-content: start;
    min-width: 100%;
}

/* sidebar */

.col-sx {
    
    height: 100vh;
    width: 300px;
    background-color: #000;
}

.up-side {
    height: calc(100% - 300px);
    padding:0px 20px 20px 20px;
    display:flex;
    flex-direction:column;
}

.menu-block
{
    display:flex;
    align-items:center;
    width:100%;
    color:gray;
    margin:10px 0px;
}

.block-logo
{
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.menu-block img
{
    height:28px;
    margin-right:3px;
    margin-left: 10px;
    color: gray;
    
    
}

.menu-block:hover img:hover   {
    color: white;
    cursor: pointer;

    
}

.home {
    font-size: 14px;
    color: gray;
}

.home:hover {
    color: white;
    cursor: pointer;
    border-left: yellowgreen;
}

/* playlist */



.playlist-side{
    overflow:hidden;
    height:80%;
    color: gray;
    margin-left: 10px;
    /* min-height:400px; */
}

.title-play {
    display: flex;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

i {
    font-size: 50px;
    color: white;
}

#crea {
    margin-top: 12px;
    margin-left: 10px;
}

.playlist{
    overflow-y: auto;
    height:50%;

}

/* row loghi superiori */

.row .col-xs-2 {

}

.fontawesome {
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 5px;
    
}

.name-sx {
    margin-top: 30px;
    color: white;
}

.down-side {
    height: 300px;
}

.col-dx {
    height: 100vh;
    width: calc(100% - 300px );
    background-color: #141922;
    overflow: hidden;
    overflow-y: auto;

}

.menu {
    margin-left: 20px;
    color: #7d7f84;
}

.col-dx-header {
    height: 100px;
    min-width: 100%;
    position: fixed;
    background-color: black;
}

.col-dx-main {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h2 {
    margin-left: 20px;
    color: white;
}

.col-xs-2 .sottotitoli {
    margin-left: 20px;
}




.album img {
    width: 250px;
    height: 250px;   
}

.radius {
    border-radius: 50%;
}

.titles {
    margin-left: 10px;
    color: white;
    align-items: center;
    text-align: center;

}

.sottotitoli {
    font-size: 12px;
    margin-top: 20px;
    color: #7d7f84;
}

.box-nested {
    margin-top: 20px;
    width: 100%;
    color: white;

}

.album
{
    margin: 50px 50px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

/* sidebar */



.spotify-logo--text {
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
}



footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color:#222222;
    color: white;
    

}

@media screen (max-width: 600px)) {
    
}