* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    display: flex;
    justify-content: start;

}

.row {
    display: flex;
    justify-content: start;
    min-width: 100%;
}

/* sidebar */

.col-sx {
    
    height: 100vh;
    width: 200px;
    background-color: #000;
}

.up-side {
    height: calc(100% - 300px);
}

.spot-logo {
    margin-top: 20px;
    margin-left: 20px;
}

.down-side {
    height: 300px;
}

.col-dx {
    height: 100vh;
    width: calc(100% - 200px );
    background-color: #141922;
    overflow: hidden;
    overflow-y: auto;

}

.menu {
    margin-left: 20px;
    color: #7d7f84;
}

.col-dx-header {
    height: 100px;
    min-width: 100%;
    position: fixed;
    background-color: black;
}

.col-dx-main {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h2 {
    margin-left: 20px;
    color: white;
}

.col-xs-2 .sottotitoli {
    margin-left: 20px;
}


.album img {
    width: 250px;
    height: 250px;   
}

.radius {
    border-radius: 50%;
}

.titles {
    margin-left: 10px;
    color: white;
    align-items: center;
    text-align: center;

}

.sottotitoli {
    font-size: 12px;
    color: #7d7f84;
}

.box-nested {
    width: 100%;
    color: white;

}   
.album
{
    margin:10px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

/* sidebar */



.spotify-logo--text {
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
}



footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color:#222222;
    color: white;
    

}

@media screen ((max-width: 600px)) {
    
}